section.photos {
  position: relative;
  z-index: 999;

  .photos_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000071;
    display: none;
  }

  .head-photos {
    display: flex;
  }

  .photos_content {
    padding: 15px 5px;
    @media screen and (max-width: 991px) {
      width: 100%;
      left: 0;
      transform: translateX(0);
      height: 500px;
      overflow: scroll;
    }
    @media screen and (min-width: 992px) {
      width: 600px;
      max-width: 800px;
      left: 50%;
      transform: translateX(-50%);
    }
    box-shadow: 0 0px 8px 2px rgba(193, 230, 231, 0.56);
    position: fixed;
    bottom: -100%;
    max-height: 70vh;
    overflow-y: scroll;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.5s ease-in-out;
    &.dark {
      background: black;
    }
    .icon {
      cursor: pointer;
    }
    .main_photos_content_title {
      width: 100%;
      text-align: center;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .photos-image {
      width: 100%;
      margin-bottom: 1px;
      border-radius: 10px;
    }
  }
}

.moveIn {
  transform: translate3d(-300%, 0px, 0px);
  transition-duration: 350ms !important;
}
